html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #f6f7fa;
    min-width: 500px;
}

/*Icons sizes*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


/*Set size to container and header*/
.fullPage{
    padding-left: 200px;
    height: 100%;
}

/*Let padding 0px to container when menu is closed*/
.menu-closed
{
    padding-left: 0px;
}

